$baseFontSize: 16px;
$baseLineHeight: 24px;
$monoFontFamily: Consolas, "Liberation Mono", Courier, monospace;
$navbarBrandColor: #ddd;
$navbarLinkColor: #ddd;
$navbarLinkColorHover: #fff;
$navbarLinkColorActive: #fff;
$navbarBackgroundHighlight: rgba(0, 0, 0, .25);
$panel_margin_bottom: 10px;

@import "bootstrap";

h1 small, h2 small, h3 small, h4 small, h5 small {
  white-space: nowrap;
}

tt,
*:not(pre) > code {
  color: #7F0A0C;
  font-weight: bold;
  font-size: $baseFontSize;
  padding: 0;
  background: none;
  border: none;
}

div.tableblock, div.imageblock, div.exampleblock, div.verseblock,
div.quoteblock, div.literalblock, div.listingblock, div.sidebarblock,
div.admonitionblock {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.exampleblock .content {
  padding: .5em;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.exampleblock .title {  
  font-weight: bold;
  color: #777;
}

pre,
.listingblock pre.highlight {
  padding: 1px;
  background-color: #fefefe;
  & > code[class] {
    background-color: #f8f8f8;
  }
}

.literalblock pre,
.listingblock pre {
  padding: .5em;
  background-color: #f8f8f8;
}

.listingblock .title {
  @extend .label;
  @extend .label-info;
}

.admonitionblock {
  table td {
    border: 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  table td.icon {
    width: 1%;
    border-right: 1px solid #ddd;
  }

  table td.content {
    width: 99%;
    padding-left: 20px;
  }

  .title {
    text-transform: uppercase;
    @extend .label;
    padding: 4px 6px;
  }

  .title.warning,
  .title.caution {
    @extend .label-warning;
  }

  .title.note {
    @extend .label-info;
  }

  .title.important {
    @extend .label-important;
  }

  .title.tip {
    @extend .label-success;
  }
}

table {
  & > caption {
    text-align: left;
    font-weight: bold;
    color: #777;
  }
  width: 100%;
  margin-bottom: 18px;
  th, td { 
    padding: 8px 20px 4px 8px; 
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }
  th {
    text-align: left;
  }
  td {
    font-size: $baseFontSize - 2;
  }

  th { 
    background-color:#f8f8f8; 
    font-size: $baseFontSize - 2;
    font-weight: bold;
  }

  // tr:nth-child(odd)	 { background-color:#fff; }
  // tr:nth-child(even) { background-color:#eee; }
  
  // border: 1px solid #eee;
}

h2 {
  margin: 16px 0 8px;
  padding-bottom: 2px;
}

.options {
  margin: 14px;
  h3 {
    font-size: 16px;
    border-bottom: 1px solid #eee;
  }
  table {
    td { 
      font-size: $baseFontSize - 2;
    }
    th {
      font-size: $baseFontSize - 2;
      border-right: 1px solid #eee;
    }
  }
}

.page-header {
  padding-bottom: 10px;
}

.navbar-inner {
  background: #012340;
}

.navbar {

  .nav > li {
    font-size: 16px;
  }

  .brand {
    font-weight: 500;
    font-size: 24px;
  }

  .nav .dropdown-toggle .caret {
    vertical-align: text-top;
  }
}


//// ADDED FOR TOC SUPPORT

#toc {
  margin-bottom: 2.5em;
}

#toctitle {
  color: #527bbd;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

div.toclevel1, div.toclevel2, div.toclevel3, div.toclevel4 {
  margin-top: 0;
  margin-bottom: 0;
}
div.toclevel2 {
  margin-left: 2em;
  font-size: 0.9em;
}
div.toclevel3 {
  margin-left: 4em;
  font-size: 0.9em;
}
div.toclevel4 {
  margin-left: 6em;
  font-size: 0.9em;
}